{{> header}}
<h2>{{viewTitle}}</h2>
<table border="1">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/brand/{{this._id}}">Edit</a>
                    <a href="/brand/delete/{{this._id}}"
                    onclick="return confirm('Desea eliminar el registro?');">
                    Delete
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>